.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal__opened {
  visibility: visible;
}

/* Form modal specific styles */
.modal__content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;

  overflow-y: auto;
}
.modal__content_type_form {
  width: 496px;
  height: 436px;
  opacity: 1;
}

/* Confirmation modal specific styles */

.modal__title {
  margin-bottom: 24px;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 20px;
  color: #000000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.modal__label {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 20px;
  color: #000000;
}

.modal__input {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 100%;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  color: #00000080;
  border: none;
  border-bottom: 1px solid #000;
  padding: 8px 0 4px;
}

.modal__close-icon {
  background-image: url("../../assets/close-btn.png");
  background-repeat: no-repeat;
  color: #000;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.modal__close-icon:hover {
  cursor: pointer;
  color: #000000;
}
.modal__radio-group {
  display: flex;
  flex-direction: column;
}

.modal__radio-buttons {
  top: 417px;
  left: 500px;
  border: none;
  opacity: 1;

  display: block;

  margin-bottom: 12px;
  padding: 0;
}

.modal__label_type_radio {
  display: block;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  padding: 0;
}

.modal__radio {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.modal__radio-circle {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 16px;
  height: 16px;
  top: 507px;
  left: 500px;

  opacity: 1;

  color: #000;
  opacity: 1;
  border-width: 1px;
}

.modal__custom-radio {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  box-sizing: border-box;
  background: white;
}

.modal__radio:checked + .modal__custom-radio {
  background: white;
  border-color: rgba(0, 0, 0, 0.5);
}

.modal__radio:checked + .modal__custom-radio::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}
.submit__btn-frame {
  width: 124;
  height: 36;

  opacity: 1;
  gap: 8px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
}
.modal__submit-btn {
  width: 124;
  height: 36;
  top: 557px;
  left: 500px;

  opacity: 1;
  gap: 12px;

  margin-top: 6px;
  color: white;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 20px;
  letter-spacing: 0%;
}
.modal__legend {
  top: 417px;
  left: 500px;

  opacity: 1;
  margin-bottom: 12px;
}

@media screen and (max-width: 480px) {
  .modal__overlay {
    background-color: #ffff;
    margin: auto;
    border-radius: 10px;
    position: relative;
  }

  .modal__form {
    width: 282px;
    height: 322px;
  }
  .modal__legend {
    color: black;
    font-family: "Inter", Arial, Sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    width: 238px;
    height: 22px;
  }
  .modal__label {
    padding-bottom: 13px;
  }
}
