.card {
  width: 323px;
  height: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 12px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);

  line-height: 20px;
  letter-spacing: 0%;
}
