.weather-cards {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather__card-temp {
  font-size: 36px;
  font-weight: 700;
  font-family: "Cabinet Grotesk", sans-serif;
  color: #fff;
  position: absolute;
  top: 20px;
  left: 16px;
  margin: 0;
  line-height: 40px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

.weather-card__text {
  margin: 40px 0 34px;
  font-size: 20px;
  line-height: 1;
  color: #000;
  font-weight: 700;
  font-style: bold;
  font-family: "Cabinet Grotesk", sans-serif;
}