.page {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.page {
  background-color: #f3f3f3;
  min-height: 100vh;
  background: #f5f6fa;
  width: 1440;
  height: 822;
  angle: 0 deg;
  opacity: 1;
}

.page__content {
  max-width: 1360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 auto;
  padding: 0 20px;
}
