.main {
  width: 1440;
  height: 976;
  top: 260px;
  left: 240px;
  angle: 0 deg;
  opacity: 1;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  height: 680px;
}

.cards__text {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .main {
    width: 343;
    height: 524;
    gap: 15px;
    angle: 0 deg;
    opacity: 1;
  }
  .cards__list {
    width: 343;
    height: 524;
    gap: 15px;
    angle: 0 deg;
    opacity: 1;
  }
  .cards__text {
    font-size: 16px;
    line-height: 20px;
  }
}
