.cards{
    max-width: 1360;
    height: 387;





}
.cards__text{
    width: 330;
    height: 25;

    opacity: 1;
    top: 220px;
    left: 40px;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    line-height: 100%;
    letter-spacing: 0%;


}
.cards__list{

    gap: 17px;
   

}
.cards__item{
    
    

    
    

}
.cards__image{
    width: 328;
    height: 328;


    
}
.cards__name{
    
}