.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360;
    top: 32px;
    left: 40px;
    padding: 32px 0 28px;

    opacity: 1;

}
.header .logo {
    width: 89;
    height: 40;
    margin-right: 24px;

    opacity: 1;

}
.header__date-and-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 24px;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    margin-right: auto;
    margin-left: 24px;
    line-height: 24px;
    

   
}
.header__search{
   width: 56;
   height: 28;
   top: 6px;

   opacity: 1;
 
}

.header__user-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    width: 293;
    height: 25;
    top: 8px;
    left: 1015px;
    
    opacity: 1;

}   
    
.header__add-clothes-btn {
    margin-left: auto;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    line-height: 24px;
    letter-spacing: 0%;
    border:none ;
    padding: 0;

}
.header__user-name{
   
   top: 8px;
   left: 1151px;
   angle: 0 deg;
   opacity: 1;
   font-family: Cabinet Grotesk;
   font-weight: 700;
   font-style: Bold;
   font-size: 20px;
   line-height: 100%;
   letter-spacing: 0%;
   
}
.header__user-avatar {
   margin-left: 12px;
    margin-right: 0;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    margin-top: 8px;

   
    
}