.header {
width: 1360px;
height: 40;
top: 32px;
left: 40px;
angle: 0 deg;
opacity: 1;


  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}


.header__logo-link {
  width: 89px;
  height: 40px;
 
  opacity: 1;

  margin-right: 24px;
}

.header__date-and-location {
  display: flex;
  width: 160px;
  height: 24px;
  top: 11px;
  left: 113px;
  angle: 0deg;
  opacity: 1;

  font-family: Cabinet Grotesk;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
}
.header__container{
  display: flex;
  align-items: center;
  
  margin-left: auto;
  width: 369px;
  height: 28px;
  top: 6px;
  left: 939px;

opacity: 1;

}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  padding: 0;
}
.header__nav-links{
  width: 369;
height: 28;
angle: 0 deg;
opacity: 1;
top: 6px;
left: 939px;
display: flex;
}
.header__user-info{
  display: flex;
  align-items: center;
  gap: 12px; 
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header__elements {
  width: 369px;
  height: 28px;
  margin-left: 666px;

opacity: 1;
  top: 6px;
  left: 939px;

  display: flex;
  align-items: center;
  
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
}
.header__avatar {
  width: 40px;
  height: 40px;
  angle: 0deg;
  opacity: 1;
  
  border-width: 1px;
  margin-right: 40px;
  margin-left: 12px;

}

.header__username {
  width: 157px;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
  left: 1151px;
  angle: 0deg;
  opacity: 1;
  color: #000;
  padding: 0;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

}
.header__nav-links{
  display: flex;
flex-grow: 1;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
  font-size: 16px;
  }
  .header {
    margin-left: 0;
    margin-right: 0;

    max-height: 56px;
    margin-bottom: 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding: 0;
    margin-left: 27px;
    margin-bottom: 32px;
  
}
@media screen and (max-width: 480px) {
  .header {
    margin-left: 16px;
    margin-right: 16px;

    max-height: 56px;
    border-bottom: 1px solid #545454;
    margin-bottom: 0;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding: 0;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
