.modal__content_type_image {
  width: 670;
  height: 368;
  angle: 0 deg;
  opacity: 1;
  top: 227px;
  left: 385px;
}

.item__modal-content {
  width: 670;
  height: 368;
  angle: 0 deg;
  opacity: 1;
  top: 227px;
  left: 385px;
}

/*.modal__close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
}*/

.modal__close:hover {
  background: rgba(0, 0, 0, 0.7);
}

.modal__image {
  display: block;
  width: 100%;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 32px 32px;
  position: relative;
}

.modal__item-info {
  flex: 1;
}

.modal__caption,
.modal__weather {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal__delete-btn {
  position: absolute;
  right: 32px;
  color: rgba(255, 77, 0, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
}

.modal__delete-btn:hover {
  color: #b71c1c;
}

@media screen and (max-width: 768px) {
  .modal__footer {
    flex-direction: column;
    align-items: stretch;
  }

  .modal__delete-btn {
    text-align: center;
  }
}
