.modal__content_type_image {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  width: 1360;
  height: 1028;

  opacity: 1;
}
.modal__close-icon_type_image {
  color: #fff;
}
.modal__image {
  object-fit: cover;
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 0 32px 32px;
  width: 200px;
}

.modal__caption {
  width: 36;
  height: 24;

  opacity: 1;
  top: 624px;
  left: 503px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  font-size: 20px;
  margin: 20px 0 0;
}
.modal__weather {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;

  line-height: 24px;
  letter-spacing: 0%;

  font-size: 20px;
  margin: 12px 0 0;
}

.modal__delete-btn {
  display: flex;
  position: relative;
  bottom: 91px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #ff4d00;
  cursor: pointer;
  width: 150px;
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  margin: 24px 0 0 299px;
  padding: 0 0 0 0;
}

.modal__delete-btn:hover {
  color: #b71c1c;
}

@media screen and (max-width: 768px) {
  .modal__footer {
    flex-direction: column;
    align-items: stretch;
  }

  .modal__delete-btn {
    text-align: center;
  }
}
