.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #f8f9fa;
  background: #fff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;
}
.sidebar__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff;
}

.sidebar__username {
  font-weight: 500;
  color: #333;
  font-size: 16px;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .sidebar {
    width: 343;
    height: 100;
    top: 102px;
    left: 16px;
    gap: 20px;
    angle: 0 deg;
    opacity: 1;
  }
  .sidebar__user-info {
    gap: 8px;
  }
  .sidebar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007bff;
  }
  .sidebar__username {
    font-weight: 500;
    color: #333;
    font-size: 14px;
  }
  .sidebar__nav {
    gap: 8px;
    margin-top: 15px;
  }
}
