.footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 40px;
    margin-top: auto;
    font-family: 'Cabinet Grotesk', sans-serif;
}



.footer__text{
    margin: 0;

}