.clothes__section-header {
}

.clothes__section-title {
  width: 94;
  height: 25;
  angle: 0 deg;
  opacity: 1;
  top: 135px;
  left: 385px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.clothes__section-add-btn {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00000027;
  width: 88px;
  height: 25px;
  angle: 0deg;
  opacity: 1;
  top: 135px;
  left: 499px;
  cursor: pointer;
}
.clothes__section-add-btn:hover {
  background: #f0f8ff;
  cursor: pointer;
  opacity: 0.8;
}
.clothes__section-items {
  width: 1015;
  height: 676;
  angle: 0 deg;
  opacity: 1;
  top: 176px;
  left: 385px;
}
@media screen and (max-width: 480px) {
  .clothes-section {
    width: 343;
    height: 25;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;

    padding: 10px;
    gap: 15px;
  }
  .clothes-section__items {
    gap: 15px;
  }
}
